<%- include('partials/header') %>

	<div class="jumbotron centered">
		<div class="container">
			<i class="fas fa-key fa-6x"></i>
			<h1 class="display-3">LOGIN</h1>
			<p class="lead"></p>
			<hr>
				<a class="btn btn-social btn-google" href="/auth/google" role="button">
					<i class="fab fa-google"></i>+ Sign In with Google</a>
			</hr>
			</div>
	</div>
	
<%- include('partials/footer') %>

